<% layout('/layouts/boilerplate') -%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h2 class="mt-4 mb-2">Edit your Listing</h2>
      <br />
      <form
        method="POST"
        action="/listings/<%= listing._id %>?_method=PUT"
        enctype="multipart/form-data"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title :</label>
          <input
            type="text"
            name="listing[title]"
            class="form-control"
            value="<%= listing.title %>"
            required
          />
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description :</label>
          <textarea name="listing[description]" class="form-control" required>
<%= listing.description %></textarea
          >
        </div>

        <div class="mb-3">
          Original Image <br>
          <img src="<%= listing.image.url %>" height="220px" width="400px" style="border-radius: 15px;" alt="">
        </div>




        <div class="mb-3">
          <label for="image" class="form-label">New Image :</label>
          <input
            type="file"
            name="listing[image]"
            class="form-control"
            required
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price :</label>
            <input
              type="number"
              name="listing[price]"
              class="form-control"
              value="<%= listing.price %>"
              required
            />
            <div class="invalid-feedback">
              Please provide valid price.
            </div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location :</label>
            <input
              type="text"
              name="listing[location]"
              class="form-control"
              value="<%= listing.location %>"
              required
            />
            <div class="invalid-feedback">
              Please choose a location.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="country" class="form-label">Country :</label>
          <input
            type="text"
            name="listing[country]"
            class="form-control"
            value="<%= listing.country %>"
            required
          />
          <div class="invalid-feedback">
            Please choose a country.
          </div>
        </div>

        <button class="edit-btn btn mt-3">Edit</button>
        <br /><br />
      </form>
    </div>
  </div>

  <script src="/js/script.js"></script>
</body>
